<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>

<div class="app">

<!-- LEFT -->
<div class="sidebar">
    <div class="profile">
        {{user}}
    </div>

    <button onclick="addContact()">+ Add Contact</button>

    <div id="users"></div>
</div>

<!-- RIGHT -->
<div class="chat">

    <div class="chat-header" id="chatHeader">
    No chat selected
</div>

    <div id="chatBox"></div>

    <div id="typing"></div>

    <div class="input">
        <input id="msg" placeholder="Type message...">
        <button onclick="send()">Send</button>
    </div>

</div>

</div>
<button onclick="addContact()">Add</button>
<button onclick="removeContact()">Remove</button>
<script>
let user="{{user}}"
</script>
<script src="/static/script.js"></script>

</body>
</html>